<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
    <link rel="icon" href="/img/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content"> 
        {{>header}}
        <p> This site was created by Parshwa Pasoba</p>
        <p> It was made using data from mapbox and weatherstack API</p>
        <img class="portrait" src="/img/pic.jpg">
    </div>

    {{>footer}}
</body>
</html>